body {
    padding-bottom: $spacer * 50;
}

div.row, div.card, fieldset {
    margin-bottom: $spacer;
}

div.row, div.card, fieldset, ul, p, table, .alert {
    &:last-child {
        margin-bottom: 0;
    }
}
