@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

.Toastify__toast--success {
    color: '#ffffff' !important;
    background-color: $success !important;
    border-color: #d0f1e4 !important;
}

.Toastify__toast--error {
    color: '#ffffff' !important;
    background-color: $danger !important;
    border-color: #ffd9ce !important;
}

body {
    padding-bottom: $spacer * 50;
}

div.row, div.form-group, div.card, form, fieldset, ul, p, table, .alert {
    margin-bottom: $spacer;
    &:last-child {
        margin-bottom: 0;
    }
}
